a {
  text-decoration: none;
  color: white;
}

.button {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 65px;
  color: white;
}

.buttoncolumn {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  font-size: 65px;
  color: white;
}

.buttoncolumn div a:visited {
  color: white;
  text-decoration: none;
}

.buttonsmaller {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  color: white;
}

.buttoncolumnsmaller {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  color: white;
}

.buttoncolumnsmaller div a:visited {
  color: white;
  text-decoration: none;
}

#recs{
  display:flex;
  flex-direction: column;
}

#recs a{
  font-size:30px;
  margin: 10px;
}